<%- include('partials/header') %>
    <%- include('partials/adminNav') %>

        <div class="table_container table-responsive" style="padding: 110px 93px;">
            <h2>Books All User have taken</h2>

            <% if (borrowedBooks.length===0) { %>
                <p>No Book taken</p>
                <% } else { %>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Book Title</th>
                                <th scope="col">Author</th>
                                <th scope="col">Book number</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Address</th>
                                <th scope="col">Borrowed Date</th>
                                <th scope="col">Returned Date</th>
                            </tr>
                        </thead>
                        <tbody>


                            <% borrowedBooks.forEach(book=> { %>
                                <tr>
                                    <td>
                                        <%= book.bookId.title %>
                                    </td>
                                    <td>
                                        <%= book.bookId.author %>
                                    </td>
                                    <td>
                                        <%= book.bookId.bookNumber %>
                                    </td>
                                    <td>
                                        <%= book.userId.fname +" "+ book.userId.lname %>
                                </td>
                                <td>
                                    <%= book.userId.email %>
                                </td>
                                <td>
                                    <%= book.userId.contactNumber %>
                                </td>
                                <td>
                                    <%= book.userId.address %>
                                </td>
                                <td>
                                    <%= book.borrowedDate %>
                                </td>
                                <td>
                                    <%= book.returnedDate %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% }%>

    </div>


    <%- include('partials/footer') %>