<%- include('partials/header') %>

    <div class="table_container table-responsive" style="padding: 110px 93px;">
        <h2>Books Available at Prayagraj</h2>

        <% if (cartBooks.length===0) { %>
            <p>No Items in cart</p>
            <% } else { %>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Book Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Publisher</th>
                        </tr>
                    </thead>
                    <tbody>


                        <% cartBooks.forEach(book=> { %>
                            <tr>
                                <td class="borrower_checkbox">
                                    <input name="bookId" type="checkbox" value="<%= book._id %>">
                                </td>
                                <td>
                                    <%= book.bookId.title %>
                                </td>
                                <td>
                                    <%= book.bookId.author %>
                                </td>
                                <td>
                                    <%= book.bookId.bookNumber %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>

                <div>
                    <b>Return date</b>
                    <input type="date" name="" id="returnDate">
                </div>

                <div class="submit_bttns">
                    <a href="./selectBranch.html">
                        <button class="cancel">Cancel</button>
                    </a>

                    <button id="checkoutButton" class="checkout">Checkout Books</button>

                </div>
                <% }%>

    </div>

    <script>
        // When the "Checkout Books" button is clicked
        document.getElementById('checkoutButton').addEventListener('click', function () {
            // Get selected book IDs
            const selectedBookIds = []
            document.querySelectorAll('input[name="bookId"]:checked').forEach(element => {
                selectedBookIds.push(element.value);
            });
            const returnDate = document.getElementById('returnDate').value;

            // Send selected book IDs to the server
            fetch('/user/checkout-books', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // other headers if needed
                },
                body: JSON.stringify({
                    borrowIds: selectedBookIds,
                    returnDate: returnDate,
                }), // Convert the object to a JSON string
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
        });
    </script>
    <%- include('partials/footer') %>