<%- include('partials/header') %>
    <%- include('partials/userNav') %>

        <div class="table_container table-responsive" style="padding: 110px 93px;">
            <h2>Books in Your cart:</h2>

            <% if (cartBooks.length===0) { %>
                <p>No Items in cart, Add books from all books section to do checkout.</p>
                <% } else { %>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Book Title</th>
                                <th scope="col">Author</th>
                                <th scope="col">Publisher</th>
                            </tr>
                        </thead>
                        <tbody>


                            <% cartBooks.forEach(book=> { %>
                                <tr>
                                    <td class="borrower_checkbox">
                                        <input name="bookId" type="checkbox" value="<%= book._id %>">
                                    </td>
                                    <td>
                                        <%= book.bookId.title %>
                                    </td>
                                    <td>
                                        <%= book.bookId.author %>
                                    </td>
                                    <td>
                                        <%= book.bookId.bookNumber %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>

                    <div>
                        <b>Return date</b>
                        <input type="date" name="" id="returnDate">
                    </div>
                    <p class="text-danger" id="error-msg"></p>
                    <p class="text-danger">
                        <%= message %>
                    </p>
                    <div class="submit_bttns">
                        <a href="/user/dashboard">
                            <button class="cancel">Cancel</button>
                        </a>

                        <button id="checkoutButton" class="checkout">Checkout Books</button>

                    </div>
                    <% } %>

        </div>

        <script>
            // When the "Checkout Books" button is clicked
            document.getElementById('checkoutButton').addEventListener('click', function () {
                // Get selected book IDs
                const selectedBookIds = []
                document.querySelectorAll('input[name="bookId"]:checked').forEach(element => {
                    selectedBookIds.push(element.value);
                });
                const returnDate = document.getElementById('returnDate').value;

                // Send selected book IDs to the server
                fetch('/user/checkout-books', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // other headers if needed
                    },
                    body: JSON.stringify({
                        borrowIds: selectedBookIds,
                        returnDate: returnDate,
                    }), // Convert the object to a JSON string
                })
                    .then(response => {
                        response.json();
                        // window.location.reload();
                    })
                    .catch(error => {
                        console.error(error);
                        document.getElementById("error-msg").innerHTML = error.message;
                    });
            });
        </script>
        <%- include('partials/footer') %>