<%- include('partials/header') %>
    <%- include('partials/adminNav') %>

        <div class="table_container table-responsive" style="padding: 110px 93px;">
            <h2 class="text-center">Books Available</h2>

            <div class="album py-5 bg-body-tertiary">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="poetry-container">

                        <% books.forEach(book=> { %>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="<%= book.imgUrl %>" alt=""
                                        style="background-size: 100% 100%; height: 200px;">
                                    <div class="card-body">
                                        <p class="card-text">
                                            Title : <%= book.title %>
                                        </p>
                                        <p class="card-text">
                                            Author : <%= book.author %>
                                        </p>
                                        <p class="card-text">
                                            Book Number : <%= book.bookNumber %>
                                        </p>
                                        <p class="card-text">
                                            Available Copies : <%= book.availableCopies %>
                                        </p>
                                        <p class="card-text">
                                            Total Copies : <%= book.totalCopies %>
                                        </p>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <form action="/admin/edit-book/<%= book._id  %>" method="get">
                                                <input type="hidden" name="bookId" value="<%= book._id %>">
                                                <button type="submit"><strong>Edit the details</strong></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>


                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>